<div class="min-h-screen w-screen flex flex-col items-center">
  <div class="text-center pb-12">
    <h1 class="font-bold mt-8 text-3xl md:text-4xl lg:text-5xl font-heading text-white">
      プロフィール編集
    </h1>
  </div>
  <div class="bg-white shadow-none sm:shadow-lg px-8 sm:px-12 w-full xs:w-full sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-2/6 h-screen sm:h-auto py-8 rounded-lg outline-black">
    <%= form_with model: @user, url: profiles_path, local: true do |f| %>
      <% if @user.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">
            <%= render 'shared/error_messages', object: f.object %>
          </strong>
        </div>
      <% end %>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image, id: "image" %>
        <div id="new-image"></div>
      </div>
      <div>
        <%= f.label :name, class: "text-gray-700" %>
        <div class="relative">
          <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
            <i class="fas fa-user text-gray-500"></i>
          </div>
        <%= f.text_field :name, class: "py-2 pl-10 border border-gray-200 w-full" %>
      </div>
      <div>
        <%= f.label :email, class: "text-gray-700" %>
          <svg xmlns="http://www.w3.org/2000/svg" class="font-medium text-2xl text-gray-600 absolute p-2.5 px-3 w-11" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
          </svg>
        <%= f.text_field :email, class: "py-2 pl-10 border border-gray-200 w-full" %>
      </div>
      <div class="mt-6 item-center">
        <%= f.label :birthday, class: "text-gray-700" %>
        <%= raw sprintf(
            f.date_select(
              :birthday,
              prompt:"--",
              start_year: 1960,
              end_year: (Time.now.year),
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
      </div>
      </div>
      <div class= "flex flex-row justify-center items-center mt-3">
        <%= f.submit "更新する", class: "bg-white hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow cursor-pointer"%>
      </div>
    <% end %>
  </div>
</div>
