<h1>プロフィール詳細</h1>
<%= "#{current_user.name}さんのプロフィールページ" %>
<%= image_tag @user.image %>
<%= current_user.name %>
<%= current_user.email %>

<%= link_to "編集", edit_profiles_path %>
<%= link_to "退会", user_path(current_user), method: :delete %>