<div class="min-h-screen w-screen flex flex-col items-center">
  <div class="text-center pb-12">
    <h1 class="font-bold mt-8 text-3xl md:text-4xl lg:text-5xl font-heading text-white">
      プロフィール
    </h1>
  </div>
  <div class="bg-white rounded-lg shadow-none sm:shadow-lg px-8 sm:px-12 w-full xs:w-full sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-2/6 h-screen sm:h-auto py-8 outline-black">
    <div class="mb-5">
      <% if @user.image.present? %>
        <%= image_tag @user.image, id: 'image', class: "rounded-full shadow mx-auto w-48 h-48 outline-black" %>
      <% else %>
        <%= image_tag '/assets/sample_profile.png', class: "rounded-full shadow mx-auto w-48 h-48 outline-black" %>
      <% end %>
    </div>
    
    <div class="text-center text-2xl font-bold mb-2">
      <%= current_user.name %>
    </div>
    <div class="text-center text-2xl font-bold mb-5">
      <%= current_user.email %>
    </div>
    <div class="text-center text-2xl font-bold mb-5">
      <%= current_user.birthday.strftime("%Y年%-m月%-d日") %>
      ( <%= (Date.today.strftime("%Y%m%d").to_i - current_user.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳 )
    </div>
    
    <div class="text-center text-xl m-3">
      <%= link_to "編集", edit_profiles_path, class: "rounded hover:bg-gray-100 hover:text-yellow-700 transition-colors m-2 outline-black p-1" %>
      <%= link_to "退会", user_path(current_user), method: :delete, class: "rounded hover:bg-gray-100 hover:text-yellow-700 transition-colors outline-black p-1" %>
    </div>
  </div>
</div>