<!-- コメント一覧 -->
<p>コメント件数：<%= board.comments.count %>件</p>
<% if board.comments.present? %>
  <% board.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.body %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <% if comment.user = current_user %>
      <div class="comment-delete">
        <%= link_to "削除", board_comments_path(comment.board, comment), method: :delete, id: "js-comment-delete", remote: true, data: {confirm: "本当に削除しますか？"} %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>