<!-- コメント一覧 -->
<p class="mb-5">
  コメント件数：<%= board.comments.count %>件
</p>
<% if board.comments.present? %>
  <% board.comments.each do |comment| %>
    <div class="space-y-4">
      <div class="flex">
        <div class="flex-shrink-0 mr-3">
          <% if comment.user.image.present? %>
            <%= image_tag comment.user.image, class: "rounded-full outline-black w-16 h-16 mr-2" %>
          <% else %>
            <%= image_tag '/assets/sample_profile.png', class: "rounded-full outline-black mx-auto w-16 h-16" %>
          <% end %>
        </div>
        <div class="text-left flex-1 text-2xl border outline-black rounded-lg px-4 py-2 sm:px-6 sm:py-4 mb-4 leading-relaxed">
          <div class="font-bold mb-2">
            <%= link_to comment.user.name, user_path(board.user) %>
          </div>
          <div class="text-2xl text-gray-400">
            <%= simple_format(comment.body) %>
          </div>
        </div>
        <% if comment.user == current_user %>
          <div class="text-right ml-4 mt-9">
            <%= link_to comment_path(comment), method: :delete, class: "hover:text-gray-400", data: {confirm: "本当に削除しますか？"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>
