<!-- コメント一覧 -->
<p class="mb-5">
  コメント件数：<%= board.comments.count %>件
</p>
<% if board.comments.present? %>
  <% board.comments.each do |comment| %>
    <div class="mb-5">
      <%= image_tag comment.user.image, class: "rounded-full shadow mx-auto w-28 h-28" if comment.user.image.present? %>
      <%= comment.user.name %>
      <div>
        <%= comment.body %>
        <% if comment.user == current_user %>
          <%= link_to "削除", comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>
