<nav class="flex items-center justify-between flex-wrap bg-white p-3">
  <%= link_to "Nostalgia", root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        使い方
        <% if logged_in? %>
          <%= link_to "新規投稿", search_boards_path %>
          <%= link_to "投稿一覧", boards_path %>
          <%= link_to "プロフィール", profiles_path %>
          <%= link_to "ログアウト", logout_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_path %>
          <%= link_to "ログイン", login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>