<div class="w-full bg-white rounded-lg shadow-lg p-6 flex-col justify-center items-center outline-black">
  <div class='text-twitter text-right'>
    <%= link_to "https://twitter.com/intent/tweet?&text=私の想い出の曲は【#{board.artist}の#{board.song_title}】です♪%0aこの頃によく聴いていました🎧%0a&url=https://recollection-music.herokuapp.com/boards/#{board.user.id}%0a&hashtags=想い出,音楽,共有&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer'  do %>
      <i class="fab fa-twitter share-button"></i>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to board.user.name, user_path(board.user), class: "font-bold text-2xl hover:text-gray-400 transition-colors duration-300" %>さんの想い出
    <%= link_to "/boards/#{board.id}" do  %>
      <div class="text-2xl font-bold mt-2 mb-3">
        『<%= board.title %>』
      </div>

      <% if board.board_image.present? %>
        <%= image_tag board.board_image.variant(resize:'300x200').processed %>
      <% else %>
        <%= image_tag '/assets/noimage.png', size: '300x300' %>
      <% end %>

      <div class="flex ml-3 justify-center">
        <div class="mt-6 mb-5 w-20">
          <%= image_tag(board.song_image) %>
        </div>
        <div class="text-left m-6">
          <div class="mt-3">
            <i class="fas fa-music"></i>
            <%= board.song_title %><br>
          </div>
          <div class="mt-1">
            <i class="fas fa-user-alt"></i>
            <%= board.artist %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>