<div class="w-full bg-white rounded-lg shadow-lg p-6 flex-col justify-center items-center outline-black">
    <% if board.user == current_user %>
      <div class="text-right text-twitter text-2xl">
        <%= link_to "https://twitter.com/intent/tweet?&text=私の想い出の曲は【#{board.artist}の#{board.song_title}】です♪%0aこの頃によく聴いていました🎧%0a&url=https://www.re-collect.jp/boards/#{board.user.id}%0a&hashtags=想い出,音楽,共有,リコレクト&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do %>
          <i class="fab fa-twitter share-button"></i>
        <% end %>
      </div>
    <% else %>
      <div class="text-right text-pink-500 text-2xl">
        <%= link_to "https://twitter.com/intent/tweet?&text=私も【#{board.artist}の#{board.song_title}】が好きです♪%0a&url=https://www.re-collect.jp/boards/#{board.user.id}%0a&hashtags=想い出,音楽,共有,リコレクト&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do %>
          <i class="fab fa-twitter share-button"></i>
        <% end %>
      </div>
    <% end %>
  <div class="text-center">
    <%= link_to board.user.name, user_path(board.user), class: "font-bold text-2xl hover:text-gray-400 transition-colors duration-300" %>さんの想い出
    <%= link_to board_path(board), class: "rounded hover:text-gray-400 transition-colors m-2" do  %>
      <div class="text-2xl font-bold mt-2 mb-3">
        『<%= board.title %>』
      </div>
      <div class="flex justify-center">
        <% if board.board_image.present? %>
          <%= image_tag board.board_image.variant(resize:'300x200').processed %>
        <% else %>
          <%= image_tag '/assets/noimage.png', size: '300x200' %>
        <% end %>
      </div>

      <div class="flex ml-3 justify-center">
        <div class="mt-6 mb-5 w-20">
          <%= image_tag(board.song_image) %>
        </div>
        <div class="text-left m-6">
          <div class="mt-3">
            <i class="fas fa-music"></i>
            <%= board.song_title %><br>
          </div>
          <div class="mt-1">
            <i class="fas fa-user-alt"></i>
            <%= board.artist %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>