<div class="w-full min-h-screen">
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white">
        投稿編集ページ
      </h1>
    </div>

    <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
      <%= form_with model: @board, local: true do |f| %>
        <% if @board.errors.any? %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">
              <%= render 'shared/error_messages', object: f.object %>
            </strong>
          </div>
        <% end %>

        <div class="text-xl text-center font-bold mb-5">
          <div>
            <%= f.label :title %>
          </div>
          <div>
            <%= f.text_field :title, class: "form-control mb-3 outline-black", size: "30x2" %>
          </div>
        </div>

        <div class="text-xl text-center font-bold mb-5">
          <div>
            <%= f.label :body %>
          </div>
          <div>
            <%= f.text_area :body, class: 'form-control mb-3 outline-black', size: "30x8" %>
          </div>
        </div>
        <div class="text-xl text-center font-bold mb-5">
          <div>
            <%= f.submit "更新する", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>