<div class="w-full min-h-screen">
  <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white">
        新規投稿フォーム
      </h1>
    </div>

    <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col justify-center items-center">
      <div class="text-black">
        <i class="fas fa-music"></i>
        <%= @board.song_title %>
      </div>
      
      <div class="mb-3 text-black">
        <i class="fas fa-user-alt"></i>
        <%= @board.artist %>
      </div>

      <div class="mb-5">
        <%= image_tag(@board.song_image) %>
      </div>


      <%= form_with model: @board, local: true do |f| %>
        <% if @board.errors.any? %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">
              <%= render 'shared/error_messages', object: f.object %>
            </strong>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.hidden_field :song_title %>
          <%= f.hidden_field :artist %>
          <%= f.hidden_field :song_image %>
          <%= f.hidden_field :song_player %>
        </div>
        <div class="text-xl text-center font-bold mb-5">
          <div>
            <%= f.label :board_image %>
          </div>
          <div>
            <%= f.file_field :board_image, id: "image" %>
          </div>
        </div>
          <div id="new-image"></div>
        <div class="text-2xl text-center font-bold mb-3">
          <div>
            <%= f.label :title %>
          </div>
          <div>
            <%= f.text_field :title, placeholder: "タイトルを入力してください", size: "20", class: "outline-black w-full h-full text-xl rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
          </div>
        </div>
        <div class="text-2xl text-center font-bold mb-3">
          <div>
            <%= f.label :body %>
          </div>
          <div>
            <%= f.text_area :body, placeholder: "想い出の内容を入力してください", size: "50x10", class:"outline-black w-full h-full text-xl rounded-lg focus:outline-none focus:ring focus:border-blue-300" %>
          </div>
        </div>
        <div class='text-center'>
          <%= f.submit "投稿する", class: "text-xl mt-5 bg-white hover:bg-gray-200 text-gray-800 font-semibold py-1 px-3 border border-gray-400 rounded shadow cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </section>
</div>