<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>曲検索フォーム</h1>
      <%= form_with url: search_boards_path, method: :get, local: true do |form| %>
        <%= form.text_field :search %>
        <%= form.submit '曲名検索', name: nil %>
      <% end %>

      <h3>結果</h3>
      <% if @tracks.present? %>
        <% @tracks.each do |track| %>
          <div class="track-name">
            <i class="fas fa-music"></i>
            <%= track.name %>
          </div>

          <% @artists.each do |artist| %>
            <div class="artist-name">
              <i class="fas fa-user-alt"></i>
              <%= artist.name %>
            </div>
          <% end %>

          <% @track_imgs.each do |track_img| %>
            <% if track_img.images.any? %>
              <% image = track_img.images[1] %>
              <%= image_tag(image["url"]) %>
            <% else %>
              <%= image_tag("default.jpg")%>
            <% end %>
          <% end %>

          <div class = "track_player">
            <audio controls src="<%= track.preview_url %>"></audio>
          </div>

          <%= link_to "追加", new_board_path %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>