<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>曲検索フォーム</h1>
      <%= form_with url: search_boards_path, method: :get, local: true do |form| %>
        <%= form.text_field :search %>
        <%= form.submit '曲名検索', name: nil %>
      <% end %>

      <h3>結果</h3>
      <% if @tracks.present? %>
        <% @tracks.each do |track| %>
          <div class="track-name">
            <i class="fas fa-music"></i>
            <%= track.name %>
          </div>

          <div class="artist-name">
            <i class="fas fa-user-alt"></i>
            <%= track.artists.map(&:name).join %>
          </div>

          <div class="track-image">
            <% track_image = track.album.images[1] %>
            <%= image_tag(track_image["url"]) %>
          </div>

          <div class = "track_player">
            <%= audio_tag("#{track.preview_url}", controls: true, class: "vols") %>
          </div>

          <%= link_to "追加", new_board_path(song_title: track.name, artist: track.artists.map(&:name).join, song_image: track_image["url"], song_player: track.preview_url) %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>