
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
    <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-white pb-12">
      投稿詳細ページ
    </h1>

    <div class="w-full bg-white rounded-lg sahdow-lg p-12 flex flex-col items-center">
      <!-- 投稿された内容 -->
      <div class="grid grid-cols-1 lg:grid-cols-2 bg-white">
        <div>
          <div>
            <div class="text-xl justify-center font-bold flex mx-4 mb-3">
              <% if @board.user.image.present? %>
                <%= image_tag @board.user.image, class: "rounded-full shadow w-20 h-20" %>
              <% else %>
                <%= image_tag '/assets/sample_profile.png', class: "rounded-full shadow w-20 h-20" %>
              <% end %>
              <div class="text-3xl font-bold my-auto justify-center rounded hover:text-gray-400 transition-colors duration-300">
                <%= link_to @board.user.name, user_path(@board.user) %>
              </div>
            </div>
            <div class="mb-5 flex justify-center ">
              <%= image_tag(@board.song_image) %>
            </div>
          </div>
          <div class="mb-3 flex justify-center">
            <%= audio_tag("#{@board.song_player}", controls: true, class: "vols") %>
          </div>
          <p class="text-base justify-center font-bold m-auto text-lg font-semibold">
            <i class="fas fa-music"></i>
            <%= @board.song_title %>
          </p>
          <p class="text-md text-base justify-center font-bold mb-4 text-lg font-semibold">
            <i class="fas fa-user-alt"></i>
            <%= @board.artist %>
          </p>
        </div>

        <div class="text-center">
          <div class="text-4xl font-bold mb-5">
            『<%= @board.title %>』
          </div>
          <div>
            <% if @board.board_image.present? %>
              <%= image_tag @board.board_image.variant(resize:'512x300').processed, class: "mb-6" %>
            <% else %>
              <%= image_tag '/assets/noimage.png', size: '512x300', class: "mb-6" %>
            <% end %>
          </div>
          <div class="text-3xl font-bold mb-2">
            <%= simple_format(@board.body) %>
          </div>
          <div class="flex justify-end items-center gap-2 my-3 text-2xl font-semibold">
            <% if @board.user == current_user %>
              <%= link_to edit_board_path do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= link_to board_path, method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>

          <!-- いいね！ボタン -->
          <div class="text-2xl font-semibold mb-5">
            <div class="likes" id="js-like-<%= @board.id %>">
              <%= render 'likes/like', board: @board %>
            </div>
          </div>
        </div>
      </div>

      <!-- コメント記入欄 -->
      <div class="text-xl text-black font-bold mb-6">
        <%= render "comments/form", board: @board, comment: @comment %>
      </div>
      <!-- コメント一覧 -->
      <div class="text-xl font-bold mb-6">
        <%= render "comments/comments", board: @board, comments: @comments %>
      </div>
    </div>
  </div>
</section>