<!DOCTYPE html>
<html>
  <head>
    <title>Re:Collect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3XP2FR3L3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-S3XP2FR3L3');
    </script>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <div class="min-h-screen w-full bg-gradient-to-r from-purple-400 to-pink-400">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
