<!DOCTYPE html>
<html>
  <head>
    <title>Recollection Music</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "shared/header" %>
      <div class="min-h-screen w-full bg-gradient-to-r from-purple-400 to-pink-400">
        <%= yield %>
      </w-full>
    <%= render "shared/footer" %>
  </body>
</html>
